<html>
				<head>
								<title>Shiva's Django	blog</title>
				</head>
				<body>
								<div>
												<h1><a	href="">Django Blog</a></h1>
								</div>
								<div>
												<p>published:	14.06.2016,	12:14</p>
												<h2><a	href="">My	first	post</a></h2>
												<p> I think there is some confusion here. NLP and computer vision use machine learning all the time in some contexts to solve certain problems. 

HCI has nothing to do with AI so let's drop that topic but HCI is a very interesting, new and imo hit topic of today.

NLP uses text, computer vision uses image data and audio uses audio data and they all pretty much fall under signal processing. The algorithms are very similar just the data manipulation of the inputs and a outputs are different.</p>
								</div>
								<div>
												<p>published:	14.06.2014,	12:14</p>
												<h2><a	href="">My	second	post</a></h2>
												<p>dffffffffffffffffffffffffffffffffffffffffgudytwyyyyyyyyu ydg dtgtd d ydh  dgdgd </p>
								</div>
				</body>
</html>
